@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

$font-family:'Mulish',sans-serif;
$gutter:20px;
$first-color : #0275B1;
$text-color:#181818;
$color-green:#02B033;
$body-background:#e5e5e5;